.row {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto; 
  gap: 10px;
  padding: 20px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.row::-webkit-scrollbar {
  display: none;
}

.row {
  cursor: grab;
}

.row:active {
  cursor: grabbing;
}

.card {
  flex: 0 0 auto;
  width: 490px;
  height: 715px;
  margin-bottom: 60px;
  border-radius: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px; /* Agregado para espaciado interno */
}

.card-container {
  display: flex;
  margin-left: 60px;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card-image {
  max-width: 100%; 
  max-height: 100%; 
  width: auto;
  height: auto;
  display: block; 
  object-fit: cover; 
}

.media-container {
  position: relative;
  width: 500px; 
  height: 500px; 
  border-radius: 50%; 
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; 
  
}

@media (hover: none) {
  .card-container {
    scrollbar-width: none;
  }
}
