.color1 {
  background-color: #A6B1E1 !important;
}

.color1 .card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90%;
}

.color1 h2 {
  color: #FFFFDD;
  font-weight: 900;
  margin: 0;
}

.color1 p {
  color: #000000;
  margin: 0;
}

.circle.color1 {
  background-color: #3f0052;
}
