.color2 {
  background-color: #424874;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.color2 .card-content {
  display: flex;
  padding: 2rem;
  font-size: 3.5rem;
  font-weight: 700;
  font-family: 'Helvetica Neue', sans-serif;
  color: #ffffff;
  word-wrap: break-word;
  flex-direction: column-reverse;
}

.color2 .media-container {

  margin-top: 20%;
}

.color2 .svg-image {
  position: absolute;
  width: 90px;
  height: 90px;
}

@media (max-width: 768px) {
  .color2 .card-content {
    font-size: 3rem; 
    padding: 1rem;
  }
}

@media (max-width: 480px) {
  .color2 .card-content {
    font-size: 2rem;
  }
}
