.color3 {
  background-color: #EEC170;
  position: relative;
}

.color3 h2 {
  font-size: 2.5rem;
  color: #3E5641;
  font-weight: 600;
  text-align: left;
  padding: 5%;
  margin: 0;
}

.color3 .download-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
