.color7 {
  background-color: #EAE2B7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
}

.color7-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90%;
}

.color7 h2 {
  font-size: 7rem;
  color: #FF6969;
  margin: 0;
}

.color7-icons {
  display: flex;
  gap: 10px;
  align-self: flex-end;
}

.color7-icon i {
  color: #FF6969;
  font-size: 7rem;
  align-items: end;
}

.color7-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 105%;
}

.circle.color7 {
  background-color: #EAE2B7;
}
