html, body {
  margin: 0;
  height: 100%;
}

.container {
  height: 100vh;
  max-width: 100vw;
  margin: 0 auto;
  display: flex;
}

.column {
  flex: 1;
  height: 100vh;
  transition: all 0.3s ease-out;
}

.color1 {
  background-color: #83BCA9;
}

.color1 .card-content{
  color: #1B3022;
}

.color1 h2 {
  font-size: 5rem;
}

.color1 p {
  font-size: 2rem;
}

.color2 {
  background-color: #A24936;
}

.color2 .card-content{
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #EAE2B7;
  text-align: end;
  font-size: 1.8rem;
}


.color3 {
  background-color: #EEC170;
}

.color4 {
  background-color: #564138;
}

/* styles.css */
.color4-text1 {
  font-size: 1.5rem;
  color: #F58549;

}

.color4-text2 {
  font-size: 2rem;
  color: #F58549;

}


.color5 {
  background-color: #3E5641
  ;
}

.color6 {
  background-color: #F58549;
}

.color7 {
  background-color: #EAE2B7;
}

.color7 h2 {
  font-size: 6rem;
  color: #A24936;
}

.column.active {
  flex-grow: 1.25;
  flex-shrink: 0.75;
}

.profile {
  position: relative;
  margin-right: 20px;
  width: 150px;
  height: 150px;
}

.profile img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.icons {
  text-decoration: none;
  text-decoration-color: black;
}

.anticon {
  color: #6b7a60
}

.card {
  transition: transform 0.3s ease;
  border-radius: 10px;
}

.card:hover {
  transform: scale(1.05);
}
