@import 'font-awesome/css/font-awesome.min.css';

html,
body {
  margin: 0;
  height: 100%;
  background-color: #040D12;
}

.card-content * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.color1 {
  background-color: #016A70;
}

.color1 .card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90%;
}

.color1 h2 {
  font-size: 7rem;
  color: #FFFFDD;
  font-weight: 900;
  margin: 0;
  /* font-family: 'Raleway', sans-serif; */
  /* Esto eliminará cualquier margen predeterminado para equilibrar el espacio */
}

.color1 p {
  font-size: 4rem;
  color: #D2DE32;
  font-weight: 600;
  margin: 0;
  /* Esto eliminará cualquier margen predeterminado para equilibrar el espacio */
}


.color2 {
  background-color: #FAF0E4;
}

.color2 .card-content {
  position: absolute;
  color: #EAE2B7;
  font-size: 1rem;
}

.color3 {
  background-color: #EEC170;
  position: relative;
  /* Esto es necesario para posicionar absolutamente el enlace dentro de la tarjeta */
}

.color3 h2 {
  font-size: 2.5rem;
  color: #3E5641;
  font-weight: 600;
  text-align: left;
  padding: 5%;
  margin: 0;
  /* Esto elimina el margen predeterminado */
}

.color3 .download-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  /* Esto centra el contenido verticalmente */
  justify-content: center;
  /* Esto centra el contenido horizontalmente */
  text-decoration: none;
  /* Esto elimina el subrayado del enlace */
}


.color4 {
  background-color: #564138;
}

/* styles.css */
.color4-text1 {
  font-size: 3.5rem;
  color: #F58549;
  font-weight: 600;
  justify-content: center;
  text-align: left;
  padding: 5%;
}

.color5 {
  background-color: #3E5641;
}

.color6 {
  background-color: #F58549;
  display: flex;
  justify-content: center;
  align-items: center;
}

.color7 {
  background-color: #EAE2B7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
}

.color7-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90%;
}

.color7 h2 {
  font-size: 7rem; /* Ajusta según sea necesario */
  color: #FF6969;
  margin: 0;
}

.color7-icons {
  display: flex;
  gap: 10px;
  align-self: flex-end;
}

.color7-icon i {
  color: #FF6969;
  font-size: 7rem; /* Ajusta según sea necesario */
  align-items: end;
}

.color7-header {
  display: flex;
  align-items: center; /* para alinear el texto y los iconos verticalmente */
  justify-content: space-between; /* para separar el texto de los iconos */
  width: 105%; /* para asegurarse de que el header tome todo el ancho disponible */
}

.card {
  transition: transform 0.4s ease;
  border-radius: 10px;
}

.card:hover {
  transform: scale(1.01);
}

.card img.card-image {
  width: 24.5%;
  max-height: 100%;
  object-fit: cover;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.special-card img.card-image {
  width: 100%;
  /* o el tamaño que prefieras */
  max-height: 100%;
}

.color2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sub-cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  /* Ajusta el espacio entre las sub-cards */
}

.sub-card {
  width: 100%;
  /* Ajusta el ancho de las sub-cards */
  padding: 10px;
  /* Ajusta el padding de las sub-cards */
  text-align: center;
  /* Centra el texto dentro de las sub-cards */
  border-radius: 50px;
  /* Ajusta el border radius para darle esquinas redondeadas */
}

.color-sub1 {
  background-color: #9BCDD2;
  /* Ajusta el color de fondo */
  color: #057194;
  font-size: 1rem;
  font-weight: 500;
}

.color-sub2 {
  background-color: #FF8551;
  /* Ajusta el color de fondo */
  color: #FFDEDE;
  font-size: 1rem;
  font-weight: 500;
}

.color-sub3 {
  background-color: #FFDEDE;
  /* Ajusta el color de fondo */
  color: #FF8551;
  font-size: 1rem;
  font-weight: 500;
}


.circle-container {
  display: flex;
  gap: 10px;
  /* Esto agregará un espacio entre cada círculo */
}

.circle {
  width: 50px;
  /* Ajusta según lo necesites */
  height: 50px;
  /* Ajusta según lo necesites */
  border-radius: 50%;
  /* Esto hará que los divs sean círculos */
}

.color1 {
  background-color: #color1;
}

.color2 {
  background-color: #FAF0E4;
}

.color3 {
  background-color: #EEC170;
}

/* Define los colores para .color5, .color6, y .color7 basándote en los colores que has usado para tus otras tarjetas */
.color5 {
  background-color: #color5;
}

.color4 {
  background-color: #color4;
}

.color7 {
  background-color: #color7;
}
